@model WebApplication1.Models.UserProfile
@{
    ViewBag.Title = "UserProfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sarmal" align="center">

    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="/Default/Index">Anasayfa</a> <span class="divider">/</span></li>
            <li class="active">Profil Bilgileri</li>
        </ul>

        <hr class="soft" />
        <div class="well">
            @using (Html.BeginForm("UserProfil", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <h3>Kullanıcı Bilgilerinizi Güncelleyebilirsiniz...</h3>
               @Html.AntiForgeryToken()
                @Html.HiddenFor(model=>model.id)
                //username yerine name tersi
                <div class="control-group">
                    <label class="control-label" for="inputFname">Adı</label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" for="inputFname">Soyadı</label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" for="inputFname">Kullanıcı Adı</label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputFname">Email</label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>



              

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="submitAccount" value="Güncelle" class="exclusive shopBtn">
                        <a href="/Account/ChangePassword">Şifre Değiştir</a>
                    </div>
                </div>

            }

        </div>




    </div>
</div>

